.body
  .body__body2
    = render partial: 'dated/plusbuttom'
    .body__body2--tops
      = render partial: 'tops/header'
      .wagara
        .detailsconteiner
          .detailsconteiner__detailsconteiner2
            .detailsconteiner__detailsconteiner2--machinedetails
              .detailsconteiner__detailsconteiner2--machinedetails--machinedetails2
                機械番号：
              .detailsconteiner__detailsconteiner2--machinedetails--machinedetails3
                No.01
            .detailsconteiner__detailsconteiner2--machinedetails
              .detailsconteiner__detailsconteiner2--machinedetails--machinedetails2
                日付　　：
              .detailsconteiner__detailsconteiner2--machinedetails--machinedetails3
                2020.02.25
            .detailsconteiner__detailsconteiner2--machinedetails
              .detailsconteiner__detailsconteiner2--machinedetails--machinedetails2
                稼働時間：
              .detailsconteiner__detailsconteiner2--machinedetails--machinedetails3
                7.5H
            -# .detailsconteiner__detailsconteiner2--machinedetails
            -#   .detailsconteiner__detailsconteiner2--machinedetails--machinedetails2
            -#     名前　　：
            -#   .detailsconteiner__detailsconteiner2--machinedetails--machinedetails3
            -#     岡田公彦
            .box
              .box__box2
                .box__box2--numberbox
                  製品番号
                .box__box2--numberbox
                  生産数
                .box__box2--numberbox
                  溶接不良数
                .box__box2--numberbox
                  廃棄品数
                .box__box2--numberbox
                  不良率
                .box__box2--numberbox
                  生産者
              .box__productsbox
                .box__productsbox--productsbox2
                  222222-22222
                .box__productsbox--productsbox3
                  .box__productsbox--productsbox3--kazu
                    200
                  .box__productsbox--productsbox3--ko
                    個
                .box__productsbox--productsbox4
                  .box__productsbox--productsbox4--kazukazu
                    32
                  .box__productsbox--productsbox4--koko
                    個
                .box__productsbox--productsbox5
                  .box__productsbox--productsbox5--kazukazukazu
                    11
                  .box__productsbox--productsbox5--kokoko
                    個
                .box__productsbox--productsbox6
                  .box__productsbox--productsbox6--kazukazukazukzu
                    0.8
                  .box__productsbox--productsbox6--kokokoko
                    ％
                .box__productsbox--productsbox7
                  .box__productsbox--productsbox7--kazukazukazukzukazu
                    岡田公彦
              .box__productsbox
                .box__productsbox--productsbox2
                  222222-22222
                .box__productsbox--productsbox3
                  .box__productsbox--productsbox3--kazu
                    700
                  .box__productsbox--productsbox3--ko
                    個
                .box__productsbox--productsbox4
                  .box__productsbox--productsbox4--kazukazu
                    18
                  .box__productsbox--productsbox4--koko
                    個
                .box__productsbox--productsbox5
                  .box__productsbox--productsbox5--kazukazukazu
                    1
                  .box__productsbox--productsbox5--kokoko
                    個
                .box__productsbox--productsbox6
                  .box__productsbox--productsbox6--kazukazukazukzu
                    0.8
                  .box__productsbox--productsbox6--kokokoko
                    ％
                .box__productsbox--productsbox7
                  .box__productsbox--productsbox7--kazukazukazukzukazu
                    岡田公彦
              .box__productsbox
                .box__productsbox--productsbox2
                  222222-22222②
                .box__productsbox--productsbox3
                  .box__productsbox--productsbox3--kazu
                    200
                  .box__productsbox--productsbox3--ko
                    個
                .box__productsbox--productsbox4
                  .box__productsbox--productsbox4--kazukazu
                    20
                  .box__productsbox--productsbox4--koko
                    個
                .box__productsbox--productsbox5
                  .box__productsbox--productsbox5--kazukazukazu
                    4
                  .box__productsbox--productsbox5--kokoko
                    個
                .box__productsbox--productsbox6
                  .box__productsbox--productsbox6--kazukazukazukzu
                    0.8
                  .box__productsbox--productsbox6--kokokoko
                    ％
                .box__productsbox--productsbox7
                  .box__productsbox--productsbox7--kazukazukazukzukazu
                    岡田公彦
              .box__memotext
                .box__memotext--memorymemo
                  メモ
                .box__memotext--memobox
                  例>>今日の222222-22222②は合計500個の内200個なので、明日残りの300個から
              .box__totalbox
                .box__totalbox--totaltext
                  総生産数：
                .box__totalbox--suuji
                  1100
                .box__totalbox--ko2
                  個
                .box__totalbox--bottunbox
                  %button.box__totalbox--bottunbox--hennsyu
                    編集
                  %button.box__totalbox--bottunbox--sakujo
                    削除
      .toptopbox
        = link_to root_path do
          .toptopbox__toptoptext
            TOPページに戻る
    = render partial: 'tops/footer'