.wagara{
  overflow: scroll;
    // background-image: image-url("wagara.jpg");
    // background-size: cover;
.detailsconteiner{
  background-color: #FFFFFF;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
  margin: 20px auto;
  // height: 1000px;
  width: 1200px;
  padding: 0 100px;
  border: 3px solid #000;
  border-radius: 5px;
  &__detailsconteiner2{
    height: 100%;
    width: 100%;
    // background-color: #4267B2;
    padding: 50px 0px;
    &--machinedetails{
      display: flex;
      height: 40px;
      width: 100%;
      margin-bottom: 20px;
      &--machinedetails2{
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
      }
      &--machinedetails3{
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
      }
    }
    .box{
        height: 100%;
        width: 100%;
        border: 3px solid #000;
        margin: 50px 0 20px;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
        padding: 40px;
        &__box2{
          display: flex;
          height: 35px;
          width: 100%;
          margin-bottom: 20px;
          border-bottom: 3px solid #000;
          &--numberbox{
            display: inline-block;
            font-size: 30px;
            font-weight: bold;
            margin-right: 40px;
            // text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
          }
        }
        &__productsbox{
          display: flex;
          height: 40px;
          width: 100%;
          margin-bottom: 20px;
          // border-bottom: 3px solid #000;
          &--productsbox2{
            display: inline-block;
            width: 155px;
            font-size: 20px;
            font-weight: bold;
            // margin-right: 10px;
          }
          &--productsbox3{
            display: inline-block;
            width: 90px;
            font-size: 20px;
            font-weight: bold;
            margin-right: 50px;
            &--kazu{
              display: inline-block;
            // width: 90px;
              font-size: 20px;
              font-weight: bold;
              margin-left: 15px;
            }
            &--ko{
              display: inline-block;
              font-size: 20px;
              font-weight: bold;
            }
          }
          &--productsbox4{
            display: inline-block;
            width: 150px;
            font-size: 20px;
            font-weight: bold;
            margin-right: 50px;
            &--kazukazu{
              display: inline-block;
              font-size: 20px;
              font-weight: bold;
              margin-left: 45px;
            }
            &--koko{
              display: inline-block;
              font-size: 20px;
              font-weight: bold;
            }
          }
          &--productsbox5{
            display: inline-block;
            width: 120px;
            font-size: 20px;
            font-weight: bold;
            margin-right: 30px;
            &--kazukazukazu{
              display: inline-block;
              font-size: 20px;
              font-weight: bold;
              margin-left: 35px;
            }
            &--kokoko{
              display: inline-block;
              font-size: 20px;
              font-weight: bold;
            }
          }
          &--productsbox6{
            display: inline-block;
            width: 90px;
            font-size: 20px;
            font-weight: bold;
            margin-right: 50px;
            &--kazukazukazukzu{
              display: inline-block;
              font-size: 20px;
              font-weight: bold;
              margin-left: 20px;
            }
            &--kokokoko{
              display: inline-block;
              font-size: 20px;
              font-weight: bold;
            }
          }
          &--productsbox7{
            display: inline-block;
            width: 90px;
            font-size: 20px;
            font-weight: bold;
            // margin-right: 50px;
            &--kazukazukazukzukazu{
              display: inline-block;
              font-size: 20px;
              font-weight: bold;
              // margin-left: 20px;
            }
          }
        }
        &__memotext{
          width: 100%;
          margin-bottom: 40px;
          &--memorymemo{
            display: inline-block;
              font-size: 30px;
              font-weight: bold;
              margin-bottom: 5px;
          }
          &--memobox{
            width: 100%;
            border: 3px solid gray;
            border-radius: 5px;
            display: inline-block;
            font-size: 20px;
            min-height: 100px;
            padding: 10px;
          }
        }
        &__totalbox{
          display: flex;
          height: 50px;
          width: 100%;
          margin-bottom: 20px;
          position: relative;
          // background-color: hotpink;
          &--totaltext{
            display: inline-block;
              font-size: 50px;
              font-weight: bold;
          }
          &--suuji{
            display: inline-block;
              font-size: 50px;
              font-weight: bold;
          }
          &--ko2{
            display: inline-block;
              font-size: 50px;
              font-weight: bold;
          }
          &--bottunbox{
            display: flex;
            justify-content: space-between;
            width: 150px;
            position: absolute;
            right: 10px;
            bottom: 0;
          &--hennsyu{
            font-size: 25px;
            color:#FFFFFF;
            font-weight: bold;
            background-color: #4267B2;
            border-radius: 5px;
            text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
            box-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
            outline: 0;
          &:focus{
            background-color: grey;
            transition: all 1s ease-out;
            border: none;
            outline: 0;
          }
          }
          &--sakujo{
            font-size: 25px;
            color:#FFFFFF;
            font-weight: bold;
            background-color: #EA3732;
            border-radius: 5px;
            text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
            box-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
            outline: 0;
          &:focus{
            background-color: grey;
            transition: all 1s ease-out;
            border: none;
            outline: 0;
          }
          }
          }
        }
    }
  }
}
}
.toptopbox{
  width: 100%;
  display: flex;
  text-align: center;
  margin: 30px 0;
  &__toptoptext{
    font-size: 25px;
    display: inline-block;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
  }
  a{
    text-decoration: none;
    color:#4267B2;
    display: inline-block;
    margin: 0 auto;
  }
}