.conteiner{
  background-color: #4267B2;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
  margin: 20px auto;
  // height: 1000px;
  width: 800px;
  padding: 0 100px;
  &__datebox{
    height: 100%;
    width: 100%;
    // background-color: #4267B2;
    padding: 50px 0px;
    &--date{
      height: 40px;
      width: 100%;
      // background-color: cornflowerblue;
      display: flex;
      // border-bottom: 3px #FFFFFF solid;
      margin-bottom: 30px;
      &--text{
        display: inline-block;
        font-size: 40px;
        font-weight: 500;
        color: #FFFFFF;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
      }
      &--years{
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
      }
      &--month{
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
      }
      &--days{
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
      }
    }
    &--usernamebox{
      height: 40px;
      width: 100%;
      display: flex;
      margin-bottom: 30px;
      &--username{
        display: inline-block;
        font-size: 40px;
        font-weight: 500;
        color: #FFFFFF;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
        position: relative;
        }
      &--namebox {
        font-size: 20px;
        font-weight: 500;
        width: 330px;
        margin-left: 20px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
      }
    }
    &--machinenumberbox{
      height: 40px;
      width: 100%;
      display: flex;
      margin-bottom: 30px;
      &--machinenumber{
        display: inline-block;
        font-size: 40px;
        font-weight: 500;
        color: #FFFFFF;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
      }
      &--machineno{
        font-size: 20px;
        font-weight: 500;
        width: 330px;
        height: 40px;
        margin-left: 20px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
      }
    }
    &--productsnumberbox{
      height: 40px;
      width: 100%;
      display: flex;
      margin-bottom: 30px;
      // position: relative;
      &--productsname{
        display: inline-block;
        font-size: 40px;
        font-weight: 500;
        color: #FFFFFF;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
        height: 40px;
        width: 240px;
      }
      &--productnumber{
        font-size: 15px;
        color: grey;
        font-weight: 500;
        height: 40px;
        width: 200px;
        margin-left: 20px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
        // position: absolute;
        // top:0;
      }
      &--numbernumernumer{
        font-size: 15px;
        color: grey;
        font-weight: 500;
        height: 40px;
        width: 60px;
        margin-left: 20px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
        // position: absolute;
        // top:0; 
        // right: 50px;
      }
      &--texttext{
        display: inline-block;
        font-size: 40px;
        font-weight: 500;
        color: #FFFFFF;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
        margin-left: 10px;
        // position: absolute;
        // right: 0;
      }
    }
    &--tsnumberbox{
      height: 40px;
      width: 100%;
      display: flex;
      margin-bottom: 30px;
      // position: relative;
      &--texttexttext{
        display: inline-block;
        font-size: 40px;
        font-weight: 500;
        color: #FFFFFF;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
        height: 40px;
        width: 240px;
      }
      &--numbeproduction{
        font-size: 15px;
        color: grey;
        font-weight: 500;
        height: 40px;
        width: 280px;
        margin-left: 20px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
        // position: absolute;
        // top:0;
      }
      &--numbeproducti{
        display: inline-block;
        font-size: 40px;
        font-weight: 500;
        color: #FFFFFF;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
        margin-left: 10px;
        // position: absolute;
        // right: 0;
      }
    }
  }
}
.textbox{
  width: 100%;
  &__memobox{
        font-size: 40px;
        font-weight: 500;
        color: #FFFFFF;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
        margin-bottom: 10px;
        
  }
  &__memoboxbox{
    width: 100%;
    height: 250px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
    margin-bottom: 30px;
    font-size: 15px;
    padding: 15px;
  }
}
.space{
  height: 8px;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
}
.buttom{
  border: 1px solid #ea352b;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  background-color: #ea352b;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
  text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
  // padding: 10px 40px;
  height: 50px;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color:#FFFFFF;
  cursor: pointer;
          outline: 0;
          &:focus{
            background-color: grey;
            transition: all 1s ease-out;
            border: none;
            outline: 0;
          }
}
.toppagereturn{
  width: 100%;
  display: flex;
  text-align: center;
  margin: 30px 0;
  &__toppagereturntext{
    font-size: 25px;
    display: inline-block;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
  }
  a{
    text-decoration: none;
    color:#4267B2;
    display: inline-block;
    margin: 0 auto;
  }
}
#name_select1-1{
  position: absolute;
  top:0;
  // right: 0;
  font-size: 20px;
  height: 40px;
  font-weight: 500;
  width: 330px;
  margin-left: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
}
#name_select1-2{
  position: absolute;
  top:0;
  // right: 0;
  font-size: 20px;
  height: 40px;
  font-weight: 500;
  width: 330px;
  margin-left: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
  // display: none;
}
#name_select2-1{
  position: absolute;
  top:0;
  // right: 0;
  font-size: 20px;
  height: 40px;
  font-weight: 500;
  width: 330px;
  margin-left: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
}
#name_select2-2{
  position: absolute;
  top:0;
  // right: 0;
  font-size: 20px;
  height: 40px;
  font-weight: 500;
  width: 330px;
  margin-left: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
}
#name_select3-1{
  position: absolute;
  top:0;
  // right: 0;
  font-size: 20px;
  height: 40px;
  font-weight: 500;
  width: 330px;
  margin-left: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
}
#name_select3-2{
  position: absolute;
  top:0;
  // right: 0;
  font-size: 20px;
  height: 40px;
  font-weight: 500;
  width: 330px;
  margin-left: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
}
#name_select4-1{
  position: absolute;
  top:0;
  // right: 0;
  font-size: 20px;
  height: 40px;
  font-weight: 500;
  width: 330px;
  margin-left: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
}
#name_select4-2{
  position: absolute;
  top:0;
  // right: 0;
  font-size: 20px;
  height: 40px;
  font-weight: 500;
  width: 330px;
  margin-left: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
}
#box02{
  display: none;
}
#box03{
  display: none;
}
#box04{
  display: none;
}
#producer1-2{
  display: none;
}
#producer2-2{
  display: none;
}
#producer3-2{
  display: none;
}
#producer4-2{
  display: none;
}